@media (max-width: 1720px) {
  .box {
    width: 96%;
    margin: 0 auto;
  }
  .box-1536 {
    width: 96%;
  }

  /* dynimac  */
  .dynamic-create {
    padding: 0 0 100px;
  }
  .dynamic-create-title {
    margin: 100px 0 80px;
  }
  .dynimac-create-outer-box {
    width: 90%;
  }
  .dynamic-create-box {
    width: 88%;
  }
  .dynamic-swiper-content {
    background: #1a1a1a;
    padding: 16px 10px 10px 10px;
    height: 224px;
    box-sizing: border-box;
  }
}
@media (max-width: 1280px) {
  .box-1150 {
    width: 80%;
    padding: 2% 0 1.2%;
  }
  .nav.active {
    padding-top: 0;
    transition: all 0.25s;
  }
  .nav-span {
    font-size: 16px;
    padding: 8px 16px;
  }
  .nav-img-left img {
    width: 100%;
  }
  .nav-li-a {
    font-size: 16px;
    padding: 6px 18px;
  }
  .nav-li:first-child {
    margin: 0;
  }
  .swiper-h3 {
    font-size: 44px;
    margin: 4% 0 0;
    line-height: 80px;
  }
  .swiper-h3-span.active::after {
    font-size: 24px;
  }
  .swiper-article {
    font-size: 16px;
    margin: 4% 0 0;
  }
  .box-inner {
    width: 80%;
    margin: 0 auto;
  }
  .box-inner-bottom {
    width: 84%;
    margin: 0 auto;
  }
  /* <!-- 服务理念 --> */
  .ind-contact {
    padding: 2% 0 6%;
    text-align: center;
    position: relative;
  }
  .indc-h3 {
    margin: 1.8% 0 5%;
  }

  .indc-icon-pic {
    width: 80%;
    margin: 0 auto;
  }
  .indc-para {
    margin: 12% auto 3%;
    font-size: 18px;
  }
  .indc-num {
    font-size: 18px;
  }
  /* <!-- 案例 --> */
  .ind-cases {
    padding: 1% 0 3.8%;
  }
  .ind-case-nav {
    margin: 0 0 3.6%;
  }
  .ind-brand-hover-title {
    font-size: 26px;
    margin: 16% 0 6%;
  }
  .ind-brand-desc-title {
    font-size: 18px;
  }
  .ind-brand-desc-bottom {
    font-size: 14px;
  }
  .ind-brand-desc {
    padding: 4% 0 4% 11.4%;
    margin: 0 0 2.6%;
   

  }
  .ind-brand-h6 {
    font-size: 20px;
    margin: 0 0 2.4%;
  }
  .ind-brand-detail {
    font-size: 16px;
  }
  .ind-content-para + div {
    margin: 30px 0 0;
  }
  /* fixed ul */

  .fixed-li:first-child {
    font-size: 16px;
    padding: 3% 0 3% 12%;
  }
  .fixed-li:nth-child(2),
  .fixed-li:last-child {
    padding: 3% 0 2% 12%;
  }
  .fixed-li:nth-child(2),
  .fixed-li:last-child {
    padding: 2% 0 2% 12%;
  }
  /* design 设计 */
  .ind-design {
    padding: 6.6% 0 3%;
  }
  .border-wrap {
    margin: 18% 0 0;
    height: 420px;
  }
  .border-wrap-top {
    margin: 18% 0 0;
    border: 1px solid #515151;
    height: 190px;

    position: relative;
  }
  .border-wrap-bottom {
    margin: 50px 0 0;
    border: 1px solid #515151;
    height: 180px;
    position: relative;
  }
  .ind-design-title {
    font-size: 20px;
    padding: 0 5%;
  }
  .ind-design-li {
    font-size: 16px;
    line-height: 36px;
  }
  .ind-des-pic {
    height: 76px;
  }
  .ind-design-bottom .ind-design-li:first-child {
    padding: 4% 0 0;
  }
  .ind-design-bottom {
    font-size: 16px;
  }
  /* <!-- index news --> */
  .ind-news {
    padding: 3% 0;
    
  }
  .ind-news-nav {
    font-size: 16px;
  }
  .ind-news-para {
    margin: 2.4% 0 0;
    line-height: 26px;
    font-size: 16px;
  }
  .ind-news-tips {
    margin: 4% 0 2%;
  }
  .ind-news-tip {
    padding: 2.4% 0 0;

  }
  .ind-news-h3 {
    font-size: 20px;
    line-height: 36px;
    padding: 0 0 0 3%;
  }
  .ind-news-time {
    color: #101010;
    font-size: 18px;
    padding: 0 0 0 3.5%;
    transition: all 0.25s;
  }
  .ind-news-desc {
    font-size: 16px;
    padding: 8% 0 10% 3.5%;
    width: 100%;
    box-sizing: border-box;
  }
  .index-news-more {
    font-size: 16px;
  }
  .ind-togo {
    margin-top: 4%;
  }
  .dynamic-update-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
  /* footer */
  .footer-phone-contact.num-top {
    padding: 5% 0 0;
  }
  .footer-phone-num {
    font-size: 36px;
    padding: 5% 0;
  }
  .footer-street {
    padding: 5% 0 0;
  }
  .footer-qrcode {
    width: 48%;
  }
  .footer-code-desc {
    font-size: 16px;
    padding: 2% 0 0;
  }
  .footer-li:first-child {
    padding: 3% 0 0;
  }
  .footer-li:first-child {
    padding: 2.4% 0 0;
  }
  .footer-li {
    line-height: 36px;
    white-space: nowrap;
  }

  /* 我们的页面 about */

  /* team */
  .about-team {
    padding: 6% 0 6%;
  }
  .about-box {
    width: 80%;
  }
  .about-team-line {
    margin-left: 74%;
  }

  /* about-profession */
  .about-profession {
    padding: 0 0 10%;
  }
  .about-profession-title {
    margin: 2% 0 2%;
  }
  /* about-quality */
  .about-quality {
    padding: 6% 0 10%;
  }
  .about-quality-h3 {
    margin: 0 0 20px;
  }
  .about-quality-h3::before {
    margin-left: -80px;
  }
  .about-quality-left {
    margin: 0 10% 0 0;
  }

  /* dynamic */
  .dynamic-box {
    width: 80%;
  }
  .dynamic-update-span + span {
    margin-left: 11%;
  }
  .dynamic-update-right {
    width: 67%;
  }
  .dynamic-update-title:before {
    top: -30px;
  }
  .dynamic-create {
    padding: 0 0 80px;
  }
  .dynamic-create-single-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dynamic-swiper-content {
    height: auto;
  }
  .dynamic-create-single-time {
    margin: 14px 0 10px;
  }
  .overflow-el {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  /* contact */
  .contact-cooperative {
    padding: 80px 0 0;
  }
  .contact-cooperative-title::before {
    top: -2em;
  }
  /* contact company  */
  .contact-company {
    padding: 120px 0 240px;
  }

  .contact-together {
    padding: 120px 0;
  }
  .contact-together-box {
    width: 86.6666%;
  }
  .contact-together-phone-wrap {
    margin-left: 200px;
  }
  .contact-together-zilong-wrap {
    margin-left: -110px;
  }
  .contact-together-mens {
    padding: 60px 0 0;
  }
}
@media (max-width: 1020px) {
  .box-inner {
    width: 70%;
  }
  .box-inner-bottom {
    width: 72%;
  }
  .nav-span {
    font-size: 16px;
    padding: 8px 8px;
  }
  .nav-img-left {
    width: 43.2px;
    height: 33.6px;
  }
  .nav-img-left img {
    width: 100%;
  }
  .nav-li-a {
    font-size: 16px;
    padding: 6px 12px;
    line-height: 48px;
  }
  .nav-li:first-child {
    margin: 0;
  }
  .footer-phone-num {
    font-size: 32px;
    padding: 4% 0;
  }
  .indc-icon-single {
    padding: 0 2%;
  }
  .ind-cases-li-a {
    padding: 16px 23px;
  }
  /*  dynamic */
  .contact-cooperative-streams {
    height: 100px;
    padding: 0 0 60px;
    margin: 48px auto 0;
    font-size: 16px;
    letter-spacing: 0;
    width: 90%;
  }
  .flowimg {
    width: 150px;
  }
  .flowtitle1 {
    margin: 42px 0 0 16px;
  }
  .flowtitle:not(.flowtitle1) {
    margin: 32px 0 0 54px;
  }
  .flow2 {
    left: 110px;
  }
  .flow3 {
    left: 220px;
  }
  .flow4 {
    left: 330px;
  }
  .flow5 {
    left: 440px;
  }
  .flow6 {
    left: 550px;
  }
  .flow7 {
    left: 660px;
  }
}
@media (max-width: 865px) {
  .nav-span {
    padding: 8px 2px;
  }
  .nav-li-a {
    padding: 6px 2px;
  }
  .ind-cases-li-a {
    padding: 16px 12px;
  }
  .ind-news-h3 {
    width: 11em;
  }
  .footer-li {
    font-size: 17px;
  }
  .about-team-line {
    margin-left: 73%;
  }
  /*  dynamic */

  .dynamic-update-span + span {
    margin-left: 9.1%;
  }
  .flowimg {
    width: 120px;
  }
  .contact-cooperative-streams {
    font-size: 14px;
  }
  .flowtitle1 {
    margin: 34px 0 0 16px;
  }
  .flowtitle:not(.flowtitle1) {
    margin: 24px 0 0 38px;
  }
  .flow2 {
    left: 90px;
  }
  .flow3 {
    left: 180px;
  }
  .flow4 {
    left: 270px;
  }
  .flow5 {
    left: 360px;
  }
  .flow6 {
    left: 450px;
  }
  .flow7 {
    left: 540px;
  }
  .contact-together-phone-wrap {
    margin-top: -130px;
  }
  .contact-together-zilong-wrap {
    margin-top: -62px;
  }
}
