html {
  font-size: 50px;
}
@media screen and (min-width: 0) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 28.26666667px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
.box {
  width: 92%;
  margin: 0 auto;
}
.nav {
  padding: 1.44rem 0 0.84rem;
  color: white;
  vertical-align: bottom;
  background: url(../images/nav-background.jpg) center / cover no-repeat;
}
.data-nav-back::before {
  content: '';
  width: 0.36rem;
  height: 0.64rem;
  position: absolute;
  vertical-align: bottom;
  background: url(../images/back-arrow.png) center / cover no-repeat;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.data-nav-back {
  position: relative;
  font-size: 0.48rem;
  padding-left: 0.56rem;
}
.data-nav-h3 {
  margin: 0.8rem 0 0;
  text-align: center;
  font-size: 0.96rem;
}
.data-nav-wrap {
  margin: 1rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.data-nav-span {
  font-size: 0.48rem;
  padding-left: 0.68rem;
  position: relative;
  white-space: nowrap;
}
.data-nav-span:not(:last-child) {
  padding-right: 0.32rem;
  border-right: 1px solid;
}
.data-nav-span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.data-nav-span:nth-child(1)::before {
  width: 0.48rem;
  height: 0.48rem;
  background: url(../images/data-nav-1-01.png) center / cover no-repeat;
}
.data-nav-span:nth-child(2)::before {
  width: 0.56rem;
  height: 0.44rem;
  background: url(../images/data-nav-1-02.png) center / cover no-repeat;
}
.data-content-wrap {
  background: #f2f2f2;
  border-top: 1px solid transparent;
}
.data-content {
  padding: 0.6rem 0 0.64rem 0.52rem;
  display: flex;
  background: #fff;
  border-radius: 0.56rem;
  margin-bottom: 0.32rem;
}
.data-content:first-child {
  margin-top: -0.48rem;
}
.data-content-imgwrap {
  width: 3.8rem;
  height: 2.88rem;
}
.data-content-img {
  width: 100%;
}
.data-content-desc {
  font-size: 0.48rem;
  margin-left: 0.52rem;
}
.data-content-title {
  color: #3d3d3d;
  margin-top: 0.2rem;
}
.data-content-warn {
  color: #c0c0c0;
  margin-top: 0.32rem;
  margin-bottom: 0.24rem;
}
.data-content-star {
  color: #539af5;
}
